@use '@/styles/common/vars' as *;
@use '@/styles/modules/vars' as *;
@use '@/styles/modules/bem-mixins' as *;

@include b(product-group) {
  display: flex;
  flex-wrap: wrap;
}

@include b(product-item) {
  overflow: hidden;
  background: $color-white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  @include e(img) {
    & > img {
      transition: all $animate-duration-fast;
    }
  }

  @include e(link-wrap) {
    display: block;
  }
}
