@use './vars' as *;

body {
  min-width: $min-body-width;
  font-size: $sph-font-size-base;

  [class*='dotted']::marker {
    content: '';
  }

  a {
    cursor: pointer;
  }
}

* {
  box-sizing: border-box;
}
